name: CI/CD

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test-rust-services:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - name: Test
        uses: actions-rs/cargo@v1
        with:
          command: test

  auth-service-image:
    needs: test-rust-services
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: docker/build-push-action@v1.1.2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: kudryashovroman/graphql-rust
          path: .
          dockerfile: ./auth-service/Dockerfile
          tags: auth-service
          push: ${{ github.event_name == 'push' }}

  planets-service-image:
    needs: test-rust-services
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: docker/build-push-action@v1.1.2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: kudryashovroman/graphql-rust
          path: .
          dockerfile: ./planets-service/Dockerfile
          tags: planets-service
          push: ${{ github.event_name == 'push' }}

  satellites-service-image:
    needs: test-rust-services
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: docker/build-push-action@v1.1.2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: kudryashovroman/graphql-rust
          path: .
          dockerfile: ./satellites-service/Dockerfile
          tags: satellites-service
          push: ${{ github.event_name == 'push' }}
